# .env.example
PORT=8080
NODE_ENV=development
JWT_ACCESS_SECRET=YOUR_JWT_ACCESS_SECRET
JWT_REFRESH_SECRET= YOUR_JWT_REFRESH_SECRET
DATABASE_URL=YOUR_DATABASE_URL
REDIS_URL=YOUR_REDIS_URL
CLIENT_ORIGIN=http://localhost:5173